blockquote {
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border-block-start: .1em solid transparent;
    border-block-end: .1em solid transparent;
}

blockquote > p {
    color: var(--icons);
    padding: 0 0 10px 0;
    margin: 0 0 0 10px;
}

hr {
    height: 2px;
    background-color: var(--quote-border);
    border: none;
}